/*Stylesheet for Etch-a-Sketch*/

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 5rem;
    font-weight: bold;
    color: #1F2937;
}


.gridSizeBtn, .resetBtn {
    margin-bottom: 1.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.3rem;
}

/*Using Flexbox*/
.gridContainer {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    border: 1px solid black;
}

.gridBox {
    border: 1px solid black;
    background-color: rgb(255,255,255);
    width: 58px;
    height:58px;
}

.standardModeBtn, .colorModeBtn, .advancedModeBtn {
    margin-top: 1.5rem;
    margin-right: 1rem;
    font-size: 1rem;
    padding: 0.25rem;
    border-radius: 0.3rem;
}

.selectedBtn {
    color: white;
    background-color: #1F2937;
}

.footer {
    background-color: #1F2937;
    color: white;
    min-height: 50px;
    display: flex;
    justify-content: center;
}
